@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

// colors 
$background-color: #000;
$primary-color: #F0A500;
$secondary-color: #334756;
$sec-dark-color: #082032;
$light-green: #39A388;
$light-yellow: #FEC260;

// fonts
$font-base: 'Gemunu Libre', sans-serif;
$font-second: 'Lato', sans-serif;