@import "./variables";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    button {
        font-family: $font-base;
        font-size: 20px;
        background-color: #000;
        color: $primary-color;
        transition: all 0.2s;
        border: none;
        padding: 5px;
        border-radius: 4px;
        box-shadow: 0 0 5px $primary-color;
        &:hover {
            background-color: $primary-color;
            color: #000;
            cursor: pointer;
        }
    }
}